<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>星空</title>
    <link rel="stylesheet" type="text/css" href="css/_Public.css" />
    <link rel="stylesheet" type="text/css" href="css/top_up.css" />
    <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/newsucai/my_fans.js"></script>
    <script type="text/javascript" src="js/newsucai/public.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
    <div class="__New__Su__Cai">
      
      <!--header start-->
     <nav class="__Header __State__Nav" id="__Nav__Header__New">
        <div class="__Nav__Header__New__Class"></div>
        <div class="__Logo__New"><span></span></div>
        <div class="__Nav__List">
          <ul class="__New__Nav">
            <li>
              <a href="index.html">首页</a >
              <p class="__Underline__"></p>
            </li>
            <li>
              <a class="__Click__Envit __Temp" value="template" href="new_list_temp.html">影视</a >
              <p class="__Underline__"></p>
            </li>
            <li>
              <a class="__Click__Envit __Eff" value="effects" href="new_list.html">游戏</a >
              <p class="__Underline__"></p>
            </li>
            <li>
              <a class="__Click__Envit __Gam" value="game" href="new_list.html">其他</a >
              <p class="__Underline__"></p>
            </li>
            <li>
              <a href="site_navigation.html">论坛</a >
              <p class="__Underline__"></p>
            </li>
            <li>
              <a href="uploading.html">上传作品</a >
              <p class="__Underline__"></p>
            </li>
          </ul>

          <!--搜索-->
          <div class="__Seach__Input">
            <a class="fa fa-close __Close_"></a>
            <input type="text" name="search" placeholder="Search..." />
            <a class="fa fa-search __Search_"></a>
          </div>

        </div>
        <div class="__Person__Info">
          <a class="__Search" href="javascript:void(0)">
            <i></i>
          </a>
          <div class="__Header__img">
            <a class="Header-Img">
              <img src="images/jpg/__header.jpg" />
            </a>
            <span class="_V_"><img src="images/svg/vip_v.svg"></span>
            <ul class="Dropdown_Menu">
                <li>
                    <a href="home_page.html">QinKuai</a >
                </li>
                <li>
                    <a href="my_info.html">我的资料</a >
                </li>
                <li>
                    <a href="top_up.html">充值vip</a >
                </li>
                <!-- <li>
                    <a href="top_up_kb.html">充值K币</a >
                </li> -->
                <li>
                    <a href="top_up_integral.html">充值积分</a >
                </li>
                <!-- <li>
                    <a href="#">申请提现</a >
                </li> -->
                <li>
                    <a href="collection.html">我的收藏</a >
                </li>
                <li>
                    <a href="focus_on.html">我的关注</a >
                </li>
                <li>
                    <a href="to_audit.html">我的上传</a >
                </li>
                <li>
                  <a href="download_list.html">下载列表</a>
                </li>
                <li>
                    <a href="#">退出</a >
                </li>
            </ul>
          </div>
        </div>
      </nav>

      <!--充值-->
      <div class="__Top__Up__">
        <div class="__Top__Left">
          <div class="__Top__User__Info __Top__Common">
            <div class="__Top__Infos">
              <a class="__Header__Img" href="javascript:void(0)">
                <img src="images/jpg/__header.jpg" />
              </a>
              <span class="_V_" title="vip会员"><img src="images/svg/vip_v.svg"></span>
              <h3>QinKuai</h3>
              <span id="rankid">等级：7</span>
              <span id="expid">经验值：205/400</span>
              <!-- <span>北京 | 高级前端工程师</span> -->
            </div>
            <div class="__Top__Coin">
              <div class="__Integral">
                <span class="__name__">积分</span>
                <span id="points"></span>
              </div>
              <!-- <div class="__Coins">
                <span class="__name__">金币</span>
                <span>888888</span>
              </div> -->
            </div>
          </div>
          <div class="__Top__List __Top__Common">
            <ul>
              <li>
                <a href="top_up.html">充值vip</a>
              </li>
              <li>
                <a href="top_up_integral.html">充值积分</a>
              </li>
              <!-- <li>
                <a href="top_up_kb.html">充值K币</a>
              </li> -->
              <!-- <li>
                <a href="javascript:void(0)">我的钱包</a>
              </li>
              <li>
                <a href="gold_buyer.html">金牌买手</a>
              </li>
              <li>
                <a href="javascript:void(0)">合伙人</a>
              </li>
              <li>
                <a href="javascript:void(0)">代言人</a>
              </li> -->
              <li>
                <a href="my_records.html">消费记录</a>
              </li>
              <li>
                <a href="collection.html">我的收藏</a>
              </li>
              <li class="__Active__">
                <a href="focus_on.html">我的关注</a>
              </li>
              <li>
                <a href="to_audit.html">我的上传</a>
              </li>
              <li>
                <a href="download_list.html">下载列表</a>
              </li>
              <li>
                <a href="my_info.html">我的资料</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="__Top__Right">
        	<div class="__Focus__Tabs__">
        		<ul>
        			<li>
                <a href="focus_on.html">
        				  <span>我的关注</span>
                </a>
        			</li>
        			<li class="__Act__">
                <a href="my_fans">
        				  <span>我的粉丝</span>
                </a>
        			</li>
        		</ul>
        	</div>

	         <div class="__Top__Tabs__Con __Focus__Con" >

	            <!--粉丝-->
	            <div class="__All__List __State__Show">
                <span id="followernum">共67个粉丝关注了您</span>
	              <ul class="__fs__list" id="follower_list">
                  <li>
                    <div class="__List__Left">
                      <a class="__List__Header" href="home_page.html">
                        <img src="images/jpg/__header.jpg" />
                      </a>
                      <div class="__List__Info">
                        <h3>前端二当家</h3>
                        <span>北京 | 高级前端工程师</span>
                        <a><em>创作 28</em> | <em>粉丝 38</em></a>
                        <button type="button" class="__GZ__">相互关注</button>
                      </div>
                    </div>
                    <div class="__List__right">
                      <a href="view_the_demo.html">
                        <img src="images/svg/list_img.svg" />
                      </a>
                      <a href="view_the_demo.html">
                        <img src="images/svg/list_img.svg" />
                      </a>
                      <a href="view_the_demo.html">
                        <img src="images/svg/list_img.svg" />
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="__List__Left">
                      <a class="__List__Header" href="home_page.html">
                        <img src="images/jpg/__header.jpg" />
                      </a>
                      <div class="__List__Info">
                        <h3>前端二当家</h3>
                        <span>北京 | 高级前端工程师</span>
                        <a><em>创作 28</em> | <em>粉丝 38</em></a>
                        <button type="button" class="__GZ__">相互关注</button>
                      </div>
                    </div>
                    <div class="__List__right">
                      <a href="view_the_demo.html">
                        <img src="images/svg/list_img.svg" />
                      </a>
                      <a href="view_the_demo.html">
                        <img src="images/svg/list_img.svg" />
                      </a>
                      <a href="view_the_demo.html">
                        <img src="images/svg/list_img.svg" />
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="__List__Left">
                      <a class="__List__Header" href="home_page.html">
                        <img src="images/jpg/__header.jpg" />
                      </a>
                      <div class="__List__Info">
                        <h3>前端二当家</h3>
                        <span>北京 | 高级前端工程师</span>
                        <a><em>创作 28</em> | <em>粉丝 38</em></a>
                        <button type="button" class="__GZ__">相互关注</button>
                      </div>
                    </div>
                    <div class="__List__right">
                      <a href="view_the_demo.html">
                        <img src="images/svg/list_img.svg" />
                      </a>
                      <a href="view_the_demo.html">
                        <img src="images/svg/list_img.svg" />
                      </a>
                      <a href="view_the_demo.html">
                        <img src="images/svg/list_img.svg" />
                      </a>
                    </div>
                  </li>
                </ul>
	            </div>

	        </div>

        </div>
      </div>

      <!--底部开始-->
      <div class="__Footer__">
          <div class="__Footer__Container">
            <div class="__Footer__List__">
              <a href="about.html" target="_blank">关于我们</a>
              <a href="top_up.html" target="_blank">积分充值</a>
              <a href="agreement.html" target="_blank">用户协议</a>
              <a href="feedback.html" target="_blank">用户反馈</a>
            </div>
            <div class="__Record">Big brother is watching you!!! | <a rel="nofollow" class="__BeiAn" target="_blank" href="http://www.bilibili.com">您有勇气点开它吗？</a></div>
          </div>
        </div>

    </div>
  </body>
</html>