<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>星空</title>
    <link rel="stylesheet" type="text/css" href="css/_Public.css" />
    <link rel="stylesheet" type="text/css" href="css/top_up.css" />
    <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/newsucai/my_info.js"></script>
    <script type="text/javascript" src="js/newsucai/public.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
    <div class="__New__Su__Cai">
      
      <!--header start-->
      <nav class="__Header __State__Nav" id="__Nav__Header__New">
        <div class="__Nav__Header__New__Class"></div>
        <div class="__Logo__New"><span></span></div>
        <div class="__Nav__List">
          <ul class="__New__Nav">
            <li>
              <a href="index.html">首页</a >
              <p class="__Underline__"></p>
            </li>
            <li>
              <a class="__Click__Envit __Temp" value="template" href="new_list_temp.html">影视</a >
              <p class="__Underline__"></p>
            </li>
            <li>
              <a class="__Click__Envit __Eff" value="effects" href="new_list.html">游戏</a >
              <p class="__Underline__"></p>
            </li>
            <li>
              <a class="__Click__Envit __Gam" value="game" href="new_list.html">其他</a >
              <p class="__Underline__"></p>
            </li>
            <li>
              <a href="site_navigation.html">论坛</a >
              <p class="__Underline__"></p>
            </li>
            <li>
              <a href="uploading.html">上传作品</a >
              <p class="__Underline__"></p>
            </li>
          </ul>

          <!--搜索-->
          <div class="__Seach__Input">
            <a class="fa fa-close __Close_"></a>
            <input type="text" name="search" placeholder="Search..." />
            <a class="fa fa-search __Search_"></a>
          </div>

        </div>
        <div class="__Person__Info">
          <a class="__Search" href="javascript:void(0)">
            <i></i>
          </a>
          <div class="__Header__img">
            <a class="Header-Img">
              <img src="images/jpg/__header.jpg" />
            </a>
            <span class="_V_"><img src="images/svg/vip_v.svg"></span>
            <ul class="Dropdown_Menu">
                <li>
                    <a href="home_page.html">QinKuai</a >
                </li>
                <li>
                    <a href="my_info.html">我的资料</a >
                </li>
                <li>
                    <a href="top_up.html">充值vip</a >
                </li>
                <!-- <li>
                    <a href="top_up_kb.html">充值K币</a >
                </li> -->
                <li>
                    <a href="top_up_integral.html">充值积分</a >
                </li>
                <!-- <li>
                    <a href="#">申请提现</a >
                </li> -->
                <li>
                    <a href="collection.html">我的收藏</a >
                </li>
                <li>
                    <a href="focus_on.html">我的关注</a>
                  </li>
                  <li>
                      <a href="to_audit.html">我的上传</a>
                    </li>
                <li>
                  <a href="download_list.html">下载列表</a>
                </li>
                <li>
                    <a href="#">退出</a >
                </li>
            </ul>
          </div>
        </div>
      </nav>

      <!--充值-->
      <div class="__Top__Up__">
        <div class="__Top__Left">
          <div class="__Top__User__Info __Top__Common">
            <div class="__Top__Infos">
              <a class="__Header__Img" href="javascript:void(0)">
                <img src="images/jpg/__header.jpg" />
              </a>
              <span class="_V_" title="vip会员"><img src="images/svg/vip_v.svg"></span>
              <h3>QinKuai</h3>
              <span id="rankid">等级：7</span>
              <span id="expid">经验值：205/400</span>
            </div>
            <div class="__Top__Coin">
              <div class="__Integral">
                <span class="__name__">积分</span>
                <span id="points">666666</span>
              </div>
              <!-- <div class="__Coins">
                <span class="__name__">金币</span>
                <span>888888</span>
              </div> -->
            </div>
          </div>
          <div class="__Top__List __Top__Common">
            <ul>
              <li>
                <a href="top_up.html">充值vip</a>
              </li>
              <li>
                <a href="top_up_integral.html">充值积分</a>
              </li>
              <!-- <li>
                <a href="top_up_kb.html">充值K币</a>
              </li> -->
              <!-- <li>
                <a href="javascript:void(0)">我的钱包</a>
              </li>
              <li>
                <a href="gold_buyer.html">金牌买手</a>
              </li>
              <li>
                <a href="javascript:void(0)">合伙人</a>
              </li>
              <li>
                <a href="javascript:void(0)">代言人</a>
              </li> -->
              <li>
                <a href="my_records.html">消费记录</a>
              </li>
              <li>
                <a href="collection.html">我的收藏</a>
              </li>
              <li>
                <a href="focus_on.html">我的关注</a>
              </li>
              <li>
                <a href="to_audit.html">我的上传</a>
              </li>
              <li>
                <a href="download_list.html">下载列表</a>
              </li>
              <li class="__Active__">
                <a href="my_info.html">我的资料</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="__Top__Right">

          <div class="__Top__Tabs__Con">
            <div class="__All__List">
              <div class="__Tab__Title">
                <h5>我的资料</h5>
              </div>
              <div class="__Info__Con">
                <div class="__Info__List">
                  <div class="__Name">头像:</div>
                  <div class="__Cont __Header__Images">
                    <img src="images/jpg/__header.jpg" />
                    <input type="file" name="upload_img" id="up_header" />
                    <label for="up_header">更改</label>
                  </div>
                </div>
                <div class="__Info__List">
                  <div class="__Name">用户昵称:</div>
                  <div class="__Cont">
                    <span id="usernameid">QinKuai</span>
                    <a class="__Chages__ __C__Name" href="javascript:void(0)">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div>
                </div>
                <div class="__Info__List">
                  <div class="__Name">邮箱地址:</div>
                  <div class="__Cont">
                    <span id="emailid">QinKuaiTQL@bjtu.edu.cn</span>
                    <a class="__Chages__ __C__Number" href="javascript:void(0)">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div>
                </div>
                <!-- <div class="__Info__List">
                  <div class="__Name">性别:</div>
                  <div class="__Cont">
                    <div class="__Sex __Man__">
                      <input type="radio" checked="checked" name="sex" id="man1" value="male1"/>男
                      <label><input name="sex" checked= "unchecked" type="radio" id="women1" value="female1"/>女</label>
                      <label for="man"> 
                        <i class="fa unchecked fa-circle-o"></i>
                        <i class="fa yechecked fa-check-circle-o"></i>
                         <span>男</span>
                      </label>
                    </div>
                    <div class="__Sex __WMan__">
                      <input name="sex" checked= "true" type="radio" id="women1" value="female1"/>
                      <label for="women">
                        <i class="fa unchecked fa-circle-o"></i>
                        <i class="fa yechecked fa-check-circle-o"></i>
                        <span>女</span>
                      </label>
                    </div>
                  </div>
                </div> -->
                <div class="__Info__List">
                  <div class="__Name">登录密码:</div>
                  <div class="__Cont">
                    <span id="passwordid">******</span>
                    <a class="__Chages__ __C__Psw" href="javascript:void(0)">
                      <i class="fa fa-pencil"></i>
                    </a>
                  </div>
                </div>
                <!-- <div class="__Info__List">
                  <div class="__Name">职业:</div>
                  <div class="__Cont __Cont__Drop">
                    <div class="__DropTit">
                      <span>前端工程师</span>
                      <i class="fa fa-angle-down"></i>
                    </div>
                    <ul class="__Dropdown">
                      <li>前端工程师</li>
                      <li>后台工程师</li>
                      <li>网页设计师</li>
                      <li>其他工作者</li>
                      <li>在校学生</li>
                    </ul>
                  </div>
                </div> -->
                <!-- <div class="__Info__List">
                  <div class="__Name">签名:</div>
                  <div class="__Cont">
                    <input type="text" name="__Job" class="__Jobs" placeholder="请输入您的职业" value="享受孤独,向往美好。" ／>
                  </div>
                </div> -->
              </div>
              <div class="__Save__Info">
                  <span id="save_b" class="__Save__Btn">保存</span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!--编辑修改模块-->
      <div class="__Edit__Component">
        <!--修改昵称-->
        <div class="_Normal_ __Nickname">
          <h5>修改昵称</h5>
          <input type="text" id="newname" name="nickname" placeholder="请输入您的新昵称" value="QinKuai" ／>
          <button id="username_b" type="button" class="__Changes__Btn _Names">确认修改</button>
          <button type="button" class="__Changes__Btn __Cancle">取消</button>
        </div>
        <!--修改手机号-->
        <div class="_Normal_ __Tel_Number">
          <h5>修改邮箱地址</h5>
          <div class="Pri__Tel">
            <input id="newemail" type="text" name="newtel" placeholder="新邮箱地址" value="" ／>
          </div>
          
          <button type="button" id="email_b" class="__Changes__Btn _Tels">确认修改</button>
          <button type="button" class="__Changes__Btn __Cancle">取消</button>
        </div>
        <!--修改密码-->
        <div class="_Normal_ __Passwords">
          <h5>修改密码</h5>
          <div class="Pri__Psw">
            <input type="password" name="pripsw" placeholder="原始密码" ／>
          </div>
          <div class="New__Psw">
            <input id="newpassword" type="password" name="newpsw" placeholder="新密码" ／>
          </div>
          <button type="button" id="password_b" class="__Changes__Btn _Psw">确认修改</button>
          <button type="button" class="__Changes__Btn __Cancle">取消</button>
        </div>
      </div>

      <!--底部开始-->
      <div class="__Footer__">
          <div class="__Footer__Container">
            <div class="__Footer__List__">
              <a href="about.html" target="_blank">关于我们</a>
              <a href="top_up.html" target="_blank">积分充值</a>
              <a href="agreement.html" target="_blank">用户协议</a>
              <a href="feedback.html" target="_blank">用户反馈</a>
            </div>
            <div class="__Record">Big brother is watching you!!! | <a rel="nofollow" class="__BeiAn" target="_blank" href="http://www.bilibili.com">您有勇气点开它吗？</a></div>
          </div>
        </div>

    </div>
  </body>
</html>