<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>星空</title>
    <link rel="stylesheet" type="text/css" href="../static/js/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/_Public.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/_new__list.css" />
    <script type="text/javascript" src="../static/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/ownjs/public.js"></script>
    <script type="text/javascript" src="../static/js/ownjs/new_list.js"></script>
    <script type="text/javascript" src="../static/js/jquery/jquery.cookie.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
	<body>
		<div class="__New__Su__Cai">

			<!--header start-->
            <nav class="__Header __State__Nav" id="__Nav__Header__New">
                <div class="__Nav__Header__New__Class"></div>

                <div class="__Nav__List">
                    <ul class="__New__Nav">
                        <li>
                            <a href="index">首页</a>
                            <p class="__Underline__"></p>
                        </li>
                        <li class="__State__active">
                            <a class="__Click__Envit __Temp" value="template" href="movies">影视</a>
                            <p class="__Underline__"></p>
                        </li>
                        <li>
                            <a class="__Click__Envit __Eff" value="effects" href="game">游戏</a>
                            <p class="__Underline__"></p>
                        </li>
                        <li>
                            <a class="__Click__Envit __Gam" value="game" href="other">其他</a>
                            <p class="__Underline__"></p>
                        </li>
                        <li>
                            <a href="../forum">论坛</a>
                            <p class="__Underline__"></p>
                        </li>
                        <li>
                            <a href="../upload">上传作品</a>
                            <p class="__Underline__"></p>
                        </li>
                    </ul>
                   
                </div>
                <div class="__Person__Info">
                    <a class="__Search" href="javascript:void(0)">
                        <i></i>
                    </a>
                    <div class="__Header__img">
                        <a class="Header-Img">
                            <img src="../static/images/jpg/__header.jpg" />
                        </a>
                        <span class="_V_"><img src="../static/images/svg/vip_v.svg"></span>
                        <ul class="Dropdown_Menu">
                            <li>
                                <a href="home_page" id="my"></a>
                            </li>
                            <li>
                                <a href="my_info">我的资料</a>
                            </li>
                            <li>
                                <a href="top_up">充值vip</a>
                            </li>
                            <!-- <li>
                    <a href="top_up_kb.html">充值K币</a >
                </li> -->
                            <li>
                                <a href="top_up_integral">充值积分</a>
                            </li>
                            <!-- <li>
                    <a href="#">申请提现</a >
                </li> -->
                            <li>
                                <a href="collection">我的收藏</a>
                            </li>
                            <li>
                                <a href="focus_on">我的关注</a>
                            </li>
                            <li>
                                <a href="to_audit">我的上传</a>
                            </li>
                            <li>
                                <a href="download_list">下载列表</a>
                            </li>
                            <li>
                                <a href="#">退出</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


			<!--列表开始-->
			<div class="__New__Lists">

				<!--标签开始-->
				<div class="__New__Lists__Tag">
					
						<div class="more-btn">
							<span>更多</span>
							<i class="fa fa-angle-down"></i>
							<i class="fa fa-angle-up"></i>
						</div>
					</div>
                <div class="__Common__List__ __Common__Tags__">
                    <div class="__Common__ __Common__Types">
                        <h3>类型:</h3>
                        <ul>
                            <li class="__State__active" id="resourcetype"></li>

                        </ul>&nbsp;&nbsp;&nbsp;&nbsp;
                        <h3>个数：</h3>
                        <ul>
                            <li class="__State__active" id="resourceamount"></li>

                        </ul>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="__Common__ __Common__Sort">
                        <h3>排序：</h3>
                        <ul>
                            <li class="__State__active">默认</li>
                            <li>上传时间</li>
                        </ul>
                    </div>
                </div>
				</div>

				<!--列表开始-->
				<div class="__New__Lists__List" id="list">
					
				</div>

			</div>


			<!--底部开始-->
      <div class="__Footer__">
        <div class="__Footer__Container">
          <div class="__Footer__List__">
            <a href="about.html" target="_blank">关于我们</a>
            <a href="top_up.html" target="_blank">积分/K币充值</a>
            <a href="agreement.html" target="_blank">用户协议</a>
      
            <a href="feedback.html" target="_blank">用户反馈</a>
          </div>
        
        </div>
      </div>

			<!--返回顶部-->
			<div class="__Go__To__Top">
				<div class="__Top">
					<i class="fa fa-angle-up"></i>
				</div>
			</div>

		
	</body>
</html>