<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="databaseclass.finalproject.dao.UserMapper">
  <resultMap id="BaseResultMap" type="databaseclass.finalproject.entity.User">
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="u_sex" jdbcType="VARCHAR" property="uSex" />
    <result column="u_birthday" jdbcType="DATE" property="uBirthday" />
    <result column="u_registertime" jdbcType="DATE" property="uRegistertime" />
    <result column="u_email" jdbcType="VARCHAR" property="uEmail" />
    <result column="u_rank" jdbcType="SMALLINT" property="uRank" />
    <result column="u_type" jdbcType="VARCHAR" property="uType" />
    <result column="u_exp" jdbcType="INTEGER" property="uExp" />
    <result column="u_point" jdbcType="INTEGER" property="uPoint" />
  </resultMap>
  
  <insert id="insert" parameterType="databaseclass.finalproject.entity.User">
    insert into user(username, u_password, u_sex, u_registertime, u_email, u_type) 
    values(#{username,jdbcType=VARCHAR},#{uPassword,jdbcType=VARCHAR}, 
    #{uSex}, #{uRegistertime,jdbcType=DATE}, #{uEmail,jdbcType=VARCHAR}, #{uType,jdbcType=VARCHAR})
  </insert>
  
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from user where username=#{username, jdbcType=VARCHAR}
  </select>
  
  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
	select *
	from user where u_email=#{uEmail, jdbcType=VARCHAR}  
  </select>
  
  <update id="updateByUsername" parameterType="databaseclass.finalproject.entity.User">
  	
  </update>
  
  <delete id="deleteByUsername" parameterType="java.lang.String">
  
  </delete>
</mapper>